{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
  
            <div class="card" style="padding: 30px;">
            <h1>{% trans "First Defence Screening" %}</h1>
            <h2>Sign in </h2>
            <br>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    
                    <br>
                    <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    
                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    </form>
            </div>
        </div>

        <div class="col">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5> The Mammo Researchers</h5>

            <p>This web-app automates the classification of normal, benign and cancerous growths identified in breast mammograms, 
                and  segments the areas/growths of concern. It’s intended purpose is for use of Medical professionals to reduce 
                additional screening of low-risk patients.</p>

                <p>
                    <br>
                    {% get_providers as socialaccount_providers %}

                    {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        
                    <div class="socialaccount_ballot">
        
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
        
                    <div class="login-or">{% trans 'or' %}</div>
        
                    </div>
        
                    {% include "socialaccount/snippets/login_extra.html" %}
        
                    {% else %}
                    <h4>New user?</h4> 
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    {% endif %}
                
                </p>
        </div>
    </div>
</div>  
{% endblock %}
